= content_for :page_header do
  BOARDS
= content_for :tool_bar do
  = link_to new_board_path, class:'btn pull-right toolbar-button' do
    = icon("plus")
    Create Board

%div
  &nbsp;
.row
  .col-md-6
    %h4.board-col-header
      %span
        Private Boards
    .board-list
      = render "board_list", bboards: @boards

  .col-md-6
    %h4.board-col-header
      %span
        Public Boards
    .board-list
      = render "board_list", bboards: @public_boards

:javascript

